apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
  namespace: keda-test
spec:
  replicas: 0
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
        - name: hello
          image: registry.k8s.io/pause:3.9
