apiVersion: apps/v1
kind: Deployment
metadata:
  name: cpu-api
  labels:
    app: cpu-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cpu-api
  template:
    metadata:
      labels:
        app: cpu-api
    spec:
      containers:
        - name: cpu-api
          image: localhost/keda-cpu-api:dev
          imagePullPolicy: IfNotPresent
          env:
            - name: ASPNETCORE_URLS
              value: http://+:8080
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
