apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: cpu-api
spec:
  scaleTargetRef:
    name: cpu-api
  pollingInterval: 15
  cooldownPeriod: 60
  minReplicaCount: 1
  maxReplicaCount: 10
  triggers:
    - type: cpu
      metadata:
        type: Utilization
        value: "40"
