apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: functions-runtime
spec:
  scaleTargetRef:
    name: functions-runtime
  pollingInterval: 15
  cooldownPeriod: 60
  minReplicaCount: 1
  maxReplicaCount: 10
  triggers:
    - type: cpu
      metadata:
        type: Utilization
        value: "50"
